@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

@theme {
  --font-fraunces:'Fraunces', 'serif'
}

@theme {
  --font-inter:'Inter', 'sans-serif'
}

@theme {
  --font-raleway:'Raleway', 'serif'
}

@keyframes shine {
  0% { left: -150%; }
  100% { left: 150%; }
}

.animate-shine {
  animation: shine 2.5s infinite linear;
}
